.leftSpace {
  padding-left: 20px;
}

.alignTop {
  vertical-align: top;
}

.cancelled {
  text-decoration: line-through;
}

.error {
  color: red;
}

.info {
  font-style: italic;
}

.student {
  padding-top: 15px;
  border-bottom: 1px solid #333;  
}