.leftSpace {
  padding-left: 20px;
}

.alignTop {
  vertical-align: top;
  text-transform: capitalize;
}

.cancelled {
  text-decoration: line-through;
}

.error {
  color: red;
  //font-weight: bold;
}
